# Created by Vercel CLI
VERCEL=""
VERCEL_ENV=""
VERCEL_TARGET_ENV=""
TURBO_REMOTE_ONLY=""
TURBO_RUN_SUMMARY=""
TURBO_DOWNLOAD_LOCAL_ENABLED=""
NX_DAEMON=""
TURBO_CACHE=""
VERCEL_URL=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_PULL_REQUEST_ID=""
AUTH_BEARER_TOKEN=""
PROJECT_ID_VERCEL=""
TEAM_ID_VERCEL=""
KV_REST_API_URL=""
KV_REST_API_TOKEN=""
KV_REST_API_READ_ONLY_TOKEN=""
KV_URL=""
VERCEL_OIDC_TOKEN=""

ADMIN_PASSWORD=""